.our_text_2 {
  width: 100%;
  float: left;
  color: #fdfefd;
  font-size: 50px;
  font-weight: bold;
}

.gifts_text_2 {
  width: 100%;
  float: left;
  color: #010102;
  font-size: 60px;
  font-weight: bold;
}
